.chartContainer {
  width: 100%;
  aspect-ratio: 4/3;
  max-width: 90vh;
}

.container-fluid {
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 10px;
  margin: 10px;
}

.generalInfoContainer {
  width: 100%;
}

img.rounded {
  width: 100px;
}
